footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  
  height: 330px;
  
  background-image: linear-gradient(to bottom right, #360F77, #075761);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin: 0 139px 0;
  
}

.footer-logo {
  margin-bottom: 15px;
  
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  color: white;
}

.footer-icon {
  margin-right: 10px;
  
  width: 45px;
  height: 45px; 
}

.footer-comment {
  margin-top: 60px;
  margin-bottom: 50px;
  
  font-family: Lato, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: white;
}


/* MEDIA QUERY BREAKPOINTS */

@media screen and (max-width: 1200px) {
  .footer-container {
    margin: 0 90px 0;
  }
}

@media screen and (max-width: 1000px) {
  .footer-container {
    margin: 0 90px 0;
  }
}

@media screen and (max-width: 850px) {
  footer {
    height: 300px;
  }
  .footer-comment {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  footer {
    height: 300px;
  }
  .footer-container {
    margin: 0 60px 0;
  }
}

@media screen and (max-width: 568px) {
  footer {
    height: 300px;
  }
  .footer-container {
    margin: 0 26px 0;
  }
}

@media screen and (max-width: 410px) {
  .footer-container {
    width: 331px;
  }
}
