:root {
  --blue1: #353A50;
  --blue2: #1F2333;
  --yellow1: #FFCC00;
  --yellow2: #DEB40D;
  --grey1: #FCFCFC;
  --grey2: #78849E;
  --grey3: #CED4DA;
}


.main-container {
  
}

/* HEADER */

.event-header-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}


/* PRIMARY INFO */

.event-info-container {
  padding: 20px 40px;
}

.primary-info-container {  
  padding: 20px 40px;
  background-color: var(--grey1);
}

.primary-info {
  display: flex;
  flex-direction: column;
}

.about-admission, .location-info {
  margin-bottom: 40px;
}

.title-info {
  padding: 15px;
}

.title-info > h1 {
  font-family: Livvic, sans-serif;
  font-size: 45px;
  font-weight: 600;
}

.title-info > h2 {
  font-family: Livvic, sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.main-btns {
  padding: 15px;
}

.buy-btn, .like-btn {
  height: 50px;
  width: 130px;
}

.buy-btn {
  margin-right: 10px;
  
  background-color: var(--blue1) !important;
  border-radius: 15px !important;
  
  font-family: Gibson, sans-serif !important;
  font-weight: 500 !important;
  color: white !important;
}

.buy-btn:hover {
  background-color: var(--blue2) !important;
}

.like-btn {
  background-color: var(--yellow1) !important;
  border-radius: 15px !important;
  
  font-family: Gibson, sans-serif !important;
  font-weight: 500 !important;
  color: black !important;
}

.like-btn:hover {
  background-color: var(--yellow2) !important;
}



/* SECONDARY INFO */

h3 {
  font-family: Gibson, sans-serif !important;
  font-size: 25px !important;
  font-weight: 400 !important;
}

p {
  font-family: Livvic, sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}


.about-info {
  width: 58.333%;
  padding: 15px;
}

.admissions-info {
  width: 41.667%;
  padding: 15px;
}

.map-info {
  display: flex;
  flex-direction: row;
  width: 1005;
}

.location-title {
  padding: 0 15px;
  width: 100%;
}

.map {
  padding: 0 15px;
}

.map-img {
  width: 400px;
  border-radius: 15px;
  border-radius: 15px;
}

.location-desc {
  padding: 0 15px;
}

.google-maps-btn {
  margin-right: 10px;
  height: 60px;
  width: 210px;
  
  background-color: var(--blue1) !important;
  border-radius: 15px !important;
  
  font-family: Gibson, sans-serif !important;
  font-weight: 500 !important;
  color: white !important;
}

@media screen and (max-width: 1000px) {
  .about-info {
    width: 70%;
  }
  .admissions-info {
    width: 30%;
  }
}

@media screen and (max-width: 769px) {
  .title-info > h1 {
    font-size: 30px;
  }
  .title-info > h2 {
    font-size: 20px;
  }
  .main-btns {
    padding: 0 15px;
  }
  .about-info {
    width: 100%;
  }
  .admissions-info {
    width: 100%;
  }
  .map-img {
    width: 250px;
  }
  .google-maps-btn {
    height: 50px;
    width: 200px;
  }
  .about-admission {
    margin-bottom: 0px;
  }
  .location-desc > p {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 600px) {
  .event-info-container {
    padding: 20px 20px;
  }
  .primary-info-container {  
    padding: 20px 20px;
  }
  .map-info {
    flex-direction: column;
  }
  .location-desc {
    padding: 15px;
  }
  .location-desc > p {
    margin-bottom: 10px;
  }
  .google-maps-btn {
    height: 60px;
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .main-btns {
    margin: 0 auto;
  }
  .buy-btn, .like-btn {
    width: calc((100vw - 85px)/2);
  }
}