:root {
  --blue1: #353A50;
  --blue2: #1F2333;
  --yellow1: #FFCC00;
  --yellow2: #DEB40D;
}

.bg-custom {
  border-bottom: 7px solid var(--yellow1);
  background-color: var(--blue1);
}

.navbar {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav-item {
  border-radius: 5px;
  padding: 5px;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-link:hover {
  text-decoration: underline !important;
}

@media screen and (max-width: 769px) {
  .navbar {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}